<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jingyu.community.mapper.CommunityStructureMapper">
    
    <resultMap type="CommunityStructure" id="CommunityStructureResult">
        <result property="id"    column="id"    />
        <result property="communityCode"    column="community_code"    />
        <result property="communityName"    column="community_name"    />
        <result property="metaAddrId"    column="meta_addr_id"    />
        <result property="fullAddress"    column="full_address"    />
        <result property="metaLevel"    column="meta_level"    />
        <result property="dong"    column="dong"    />
        <result property="unit"    column="unit"    />
        <result property="ceng"    column="ceng"    />
        <result property="room"    column="room"    />
        <result property="pcsId"    column="pcs_id"    />
        <result property="pcsName"    column="pcs_name"    />
        <result property="shortName"    column="short_name"    />
        <result property="region"    column="region"    />
        <result property="regionName"    column="region_name"    />
    </resultMap>

    <sql id="selectCommunityStructureVo">
        select id, community_code, community_name, meta_addr_id, full_address, meta_level, dong, unit, ceng, room, pcs_id, pcs_name, short_name, region, region_name from sq_community_structure
    </sql>

    <select id="selectCommunityStructureList" parameterType="CommunityStructure" resultMap="CommunityStructureResult">
        <include refid="selectCommunityStructureVo"/>
        <where>  
            <if test="communityCode != null  and communityCode != ''"> and community_code = #{communityCode}</if>
            <if test="communityName != null  and communityName != ''"> and community_name like concat('%', #{communityName}, '%')</if>
            <if test="metaAddrId != null  and metaAddrId != ''"> and meta_addr_id = #{metaAddrId}</if>
            <if test="fullAddress != null  and fullAddress != ''"> and full_address = #{fullAddress}</if>
            <if test="metaLevel != null "> and meta_level = #{metaLevel}</if>
            <if test="dong != null  and dong != ''"> and dong = #{dong}</if>
            <if test="unit != null  and unit != ''"> and unit = #{unit}</if>
            <if test="ceng != null  and ceng != ''"> and ceng = #{ceng}</if>
            <if test="room != null  and room != ''"> and room = #{room}</if>
            <if test="pcsId != null  and pcsId != ''"> and pcs_id = #{pcsId}</if>
            <if test="pcsName != null  and pcsName != ''"> and pcs_name like concat('%', #{pcsName}, '%')</if>
            <if test="shortName != null  and shortName != ''"> and short_name like concat('%', #{shortName}, '%')</if>
            <if test="region != null  and region != ''"> and region = #{region}</if>
            <if test="regionName != null  and regionName != ''"> and region_name like concat('%', #{regionName}, '%')</if>
        </where>
        order by short_name
    </select>
    
    <select id="selectCommunityStructureById" parameterType="Long" resultMap="CommunityStructureResult">
        <include refid="selectCommunityStructureVo"/>
        where id = #{id}
    </select>
    <select id="selectCommunityList" parameterType="string" resultType="java.util.HashMap">
        select distinct community_code as "code", community_name as "value"
            from sq_community_structure
        <where>
            <if test="queryString != null and queryString != ''">
                and community_name like concat('%', #{queryString}, '%')
            </if>
        </where>
    </select>
    <select id="selectRoomListByCommunityCode" parameterType="CommunityStructure" resultMap="CommunityStructureResult">
        select full_address, meta_addr_id, dong, unit, ceng, room, short_name
        from sq_community_structure s
        <where>
            and s.meta_level = 14
            and s.community_code = #{communityCode}
            <if test="shortName != null and shortName != ''">
                <bind name="shortNameLike" value="shortName + '%'"/>
                and shortName like #{shortNameLike}
            </if>
        </where>
        order by short_name
    </select>

    <insert id="batchInsertFormVo" parameterType="StructureImportVo">
        insert into sq_community_structure
            (community_code, community_name, meta_addr_id, full_address, meta_level, dong, unit, ceng, room,
                short_name,region,region_name, longitude, latitude ) values
        <foreach collection="list" separator="," item="item">
            (#{item.communityCode},#{item.communityName},#{item.metaAddrId},#{item.fullAddress},#{item.metaLevel},
            #{item.dong},#{item.unit},#{item.ceng},#{item.room},#{item.shortName},
             #{item.region},#{item.regionName}, #{item.longitude}, #{item.latitude})
        </foreach>
        ON DUPLICATE KEY UPDATE
                 full_address = VALUES(full_address),
                 dong = VALUES(dong),
                 unit = VALUES(unit),
                 ceng = VALUES(ceng),
                 room = VALUES(room),
                 short_name = VALUES(short_name),
                 region_name = VALUES(region_name),
                 longitude = VALUES(longitude),
                 latitude = VALUES(latitude),
                 meta_level = VALUES(meta_level);
    </insert>
    <insert id="insertCommunityStructure" parameterType="CommunityStructure" useGeneratedKeys="true" keyProperty="id">
        insert into sq_community_structure
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="communityCode != null and communityCode != ''">community_code,</if>
            <if test="communityName != null">community_name,</if>
            <if test="metaAddrId != null">meta_addr_id,</if>
            <if test="fullAddress != null">full_address,</if>
            <if test="metaLevel != null">meta_level,</if>
            <if test="dong != null">dong,</if>
            <if test="unit != null">unit,</if>
            <if test="ceng != null">ceng,</if>
            <if test="room != null">room,</if>
            <if test="pcsId != null">pcs_id,</if>
            <if test="pcsName != null">pcs_name,</if>
            <if test="shortName != null">short_name,</if>
            <if test="region != null">region,</if>
            <if test="regionName != null">region_name,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="communityCode != null and communityCode != ''">#{communityCode},</if>
            <if test="communityName != null">#{communityName},</if>
            <if test="metaAddrId != null">#{metaAddrId},</if>
            <if test="fullAddress != null">#{fullAddress},</if>
            <if test="metaLevel != null">#{metaLevel},</if>
            <if test="dong != null">#{dong},</if>
            <if test="unit != null">#{unit},</if>
            <if test="ceng != null">#{ceng},</if>
            <if test="room != null">#{room},</if>
            <if test="pcsId != null">#{pcsId},</if>
            <if test="pcsName != null">#{pcsName},</if>
            <if test="shortName != null">#{shortName},</if>
            <if test="region != null">#{region},</if>
            <if test="regionName != null">#{regionName},</if>
         </trim>
    </insert>

    <update id="updateCommunityStructure" parameterType="CommunityStructure">
        update sq_community_structure
        <trim prefix="SET" suffixOverrides=",">
            <if test="communityCode != null and communityCode != ''">community_code = #{communityCode},</if>
            <if test="communityName != null">community_name = #{communityName},</if>
            <if test="metaAddrId != null">meta_addr_id = #{metaAddrId},</if>
            <if test="fullAddress != null">full_address = #{fullAddress},</if>
            <if test="metaLevel != null">meta_level = #{metaLevel},</if>
            <if test="dong != null">dong = #{dong},</if>
            <if test="unit != null">unit = #{unit},</if>
            <if test="ceng != null">ceng = #{ceng},</if>
            <if test="room != null">room = #{room},</if>
            <if test="pcsId != null">pcs_id = #{pcsId},</if>
            <if test="pcsName != null">pcs_name = #{pcsName},</if>
            <if test="shortName != null">short_name = #{shortName},</if>
            <if test="region != null">region = #{region},</if>
            <if test="regionName != null">region_name = #{regionName},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCommunityStructureById" parameterType="Long">
        delete from sq_community_structure where id = #{id}
    </delete>

    <delete id="deleteCommunityStructureByIds" parameterType="String">
        delete from sq_community_structure where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>