<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jingyu.community.mapper.CommunityMapper">

    <resultMap type="Community" id="SqCommunityResult">
        <id     property="id"    column="id"    />
        <result property="code"    column="code"    />
        <result property="name"    column="name"    />
        <result property="type"    column="type"    />
        <result property="address"    column="address"    />
        <result property="community"    column="community"    />
        <result property="remark"    column="remark"    />
        <result property="isSafeArea"    column="is_safe_area"    />
        <result property="namingOrgan"    column="naming_organ"    />
        <result property="namingTime"    column="naming_time"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="pcsId"    column="pcs_id"    />
        <result property="pcsName"    column="pcs_name"    />
        <result property="preventiveMeasures"    column="preventive_measures"    />
        <result property="fileCount"    column="fileCount"  />
        <association property="detail" column="id" select="com.jingyu.community.mapper.CommunityDetailMapper.selectByVillageId" />
        <association property="communityObj" column="community"
                     select="com.jingyu.system.mapper.SysDeptMapper.selectDeptById" />
    </resultMap>

    <sql id="selectSqCommunityVo">
        select
            id, code, name, type, address, community, remark,
            preventive_measures, is_safe_area, naming_organ, naming_time,
            create_time, create_by, update_time, update_by, pcs_id, pcs_name,
            (select count(0) from sq_community_desc where community_id = s.id) fileCount
        from sq_community s
    </sql>

    <select id="selectSqCommunityList" parameterType="Community" resultMap="SqCommunityResult">

        <include refid="selectSqCommunityVo"/>
        <where>
            <if test="id != null"> id = #{id}</if>
            <if test="code != null  and code != ''"> and code = #{code}</if>
            <if test="name != null  and name != ''">
                <bind name="nameLike" value="'%'+ name + '%'" />
                and name like #{nameLike}
            </if>
            <if test="type != null "> and type = #{type}</if>
            <if test="pcsId != null "> and pcs_id = #{pcsId}</if>
            <if test="pcsName != null and pcsName != ''"> and pcs_name = #{pcsName}</if>
            <if test="address != null  and address != ''"> and address = #{address}</if>
            <if test="community != null  and community != ''"> and community = #{community}</if>
            <if test="preventiveMeasures != null "> and preventive_measures = #{preventiveMeasures}</if>
            <if test="isSafeArea != null "> and is_safe_area = #{isSafeArea}</if>
            <if test="namingOrgan != null  and namingOrgan != ''"> and naming_organ = #{namingOrgan}</if>
            <if test="namingTime != null "> and naming_time = #{namingTime}</if>
            <if test="createBy != null  and createBy != ''"> and create_by = #{createBy}</if>
            <if test="updateTime != null "> and update_time = #{updateTime}</if>
            <if test="updateBy != null  and updateBy != ''"> and update_by = #{updateBy}</if>
            <if test="params.sqIds != null and params.sqIds != ''">
                and community in #{params.sqIds}
            </if>
        </where>
    </select>
    
    <select id="selectSqCommunityById" parameterType="Long" resultMap="SqCommunityResult">
        <include refid="selectSqCommunityVo"/>
        where id = #{id}
    </select>
    <select id="countByCondition" resultType="int">
        select count(id) from sq_community
        <where>
            <if test="code != null  and code != ''"> and code = #{code}</if>
            <if test="name != null  and name != ''">
                <bind name="nameLike" value="'%'+ name + '%'" />
                 and name like #{nameLike}
            </if>
            <if test="type != null "> and type = #{type}</if>
            <if test="community != null  and community != ''"> and community = #{community}</if>
            <if test="params.excludeId != null">
                and id != #{params.excludeId}
            </if>
        </where>
    </select>

    <insert id="insertSqCommunity" parameterType="Community" useGeneratedKeys="true" keyProperty="id">
        insert into sq_community
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="code != null and code != ''">code,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="type != null">type,</if>
            <if test="address != null">address,</if>
            <if test="community != null">community,</if>
            <if test="remark != null">remark,</if>
            <if test="preventiveMeasures != null">preventive_measures,</if>
            <if test="isSafeArea != null">is_safe_area,</if>
            <if test="namingOrgan != null">naming_organ,</if>
            <if test="namingTime != null">naming_time,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="pcsId != null ">pcs_id,</if>
            <if test="pcsName != null and pcsName != ''">pcs_name,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="code != null and code != ''">#{code},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="type != null">#{type},</if>
            <if test="address != null">#{address},</if>
            <if test="community != null">#{community},</if>
            <if test="remark != null">#{remark},</if>
            <if test="preventiveMeasures != null">#{preventiveMeasures},</if>
            <if test="isSafeArea != null">#{isSafeArea},</if>
            <if test="namingOrgan != null">#{namingOrgan},</if>
            <if test="namingTime != null">#{namingTime},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="pcsId != null ">#{pcsId},</if>
            <if test="pcsName != null and pcsName != ''">#{pcsName},</if>
         </trim>
    </insert>

    <update id="updateSqCommunity" parameterType="Community">
        update sq_community
        <trim prefix="SET" suffixOverrides=",">
            <if test="code != null and code != ''">code = #{code},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="type != null">type = #{type},</if>
            <if test="address != null">address = #{address},</if>
            <if test="community != null">community = #{community},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="preventiveMeasures != null">preventive_measures = #{preventiveMeasures},</if>
            <if test="isSafeArea != null">is_safe_area = #{isSafeArea},</if>
            <if test="namingOrgan != null">naming_organ = #{namingOrgan},</if>
            <if test="namingTime != null">naming_time = #{namingTime},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="pcsId != null ">pcs_id = #{pcsId},</if>
            <if test="pcsName != null and pcsName != ''">pcs_name = #{pcsName},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSqCommunityById" parameterType="Long">
        delete from sq_community where id = #{id}
    </delete>

    <delete id="deleteSqCommunityByIds" parameterType="String">
        delete from sq_community where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>