<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jingyu.community.mapper.CompanyMapper">
    
    <resultMap type="Company" id="CompanyResult">
        <result property="id"    column="id"    />
        <result property="communityId"    column="community_id"    />
        <result property="companyCode"    column="company_code"    />
        <result property="companyName"    column="company_name"    />
        <result property="type"    column="type"    />
        <result property="phone"    column="phone"    />
        <result property="email"    column="email"    />
        <result property="address"    column="address"    />
        <result property="registrationTime"    column="registration_time"    />
        <result property="tradeCode"    column="trade_code"    />
        <result property="organizationCode"    column="organization_code"    />
        <result property="creditCode"    column="credit_code"    />
        <result property="headMaster"    column="head_master"    />
        <result property="contactPhone"    column="contact_phone"    />
        <result property="identityCode"    column="identity_code"    />
        <result property="identityType"    column="identity_type"    />
        <result property="point"    column="point"    />
        <result property="police"    column="police"    />
        <result property="policeName"    column="police_name"    />
        <result property="policePhone"    column="police_phone"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="fileCount"    column="fileCount"  />
        <association property="communityObj" column="community"
                     select="com.jingyu.system.mapper.SysDeptMapper.selectDeptById" />
    </resultMap>

    <sql id="selectCompanyVo">
        select id, community_id, company_code, company_name, type, phone, email, address,
               registration_time, trade_code, organization_code, credit_code, head_master,
               contact_phone, identity_code, identity_type, create_by, create_time, update_by, update_time,
               police, police_name, police_phone, point,
               (select count(0) from sq_community_desc where community_id = s.id) fileCount
        from sq_company
    </sql>

    <select id="selectCompanyList" parameterType="Company" resultMap="CompanyResult">
        <include refid="selectCompanyVo"/>
        <where>  
            <if test="communityId != null "> and community_id = #{communityId}</if>
            <if test="companyCode != null  and companyCode != ''"> and company_code = #{companyCode}</if>
            <if test="companyName != null  and companyName != ''"> and company_name like concat('%', #{companyName}, '%')</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="email != null  and email != ''"> and email = #{email}</if>
            <if test="address != null  and address != ''"> and address = #{address}</if>
            <if test="registrationTime != null "> and registration_time = #{registrationTime}</if>
            <if test="tradeCode != null  and tradeCode != ''"> and trade_code = #{tradeCode}</if>
            <if test="organizationCode != null  and organizationCode != ''"> and organization_code = #{organizationCode}</if>
            <if test="creditCode != null  and creditCode != ''"> and credit_code = #{creditCode}</if>
            <if test="headMaster != null  and headMaster != ''"> and head_master = #{headMaster}</if>
            <if test="contactPhone != null  and contactPhone != ''"> and contact_phone = #{contactPhone}</if>
            <if test="identityCode != null  and identityCode != ''"> and identity_code = #{identityCode}</if>
            <if test="identityType != null  and identityType != ''"> and identity_type = #{identityType}</if>
        </where>
    </select>
    
    <select id="selectCompanyById" parameterType="Long" resultMap="CompanyResult">
        <include refid="selectCompanyVo"/>
        where id = #{id}
    </select>
    <select id="countByCondition" resultType="java.lang.Integer">
        select count(id) from sq_company
        <where>
            <if test="companyCode != null  and companyCode != ''"> and company_code = #{companyCode}</if>
            <if test="params.excludeId != null">
                and id != #{params.excludeId}
            </if>
        </where>
    </select>

    <insert id="insertCompany" parameterType="Company" useGeneratedKeys="true" keyProperty="id">
        insert into sq_company
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="communityId != null">community_id,</if>
            <if test="companyCode != null">company_code,</if>
            <if test="companyName != null">company_name,</if>
            <if test="type != null">type,</if>
            <if test="phone != null">phone,</if>
            <if test="email != null">email,</if>
            <if test="address != null">address,</if>
            <if test="registrationTime != null">registration_time,</if>
            <if test="tradeCode != null">trade_code,</if>
            <if test="organizationCode != null">organization_code,</if>
            <if test="creditCode != null">credit_code,</if>
            <if test="headMaster != null">head_master,</if>
            <if test="contactPhone != null">contact_phone,</if>
            <if test="identityCode != null">identity_code,</if>
            <if test="identityType != null">identity_type,</if>
            <if test="point != null">point,</if>
            <if test="police != null">police,</if>
            <if test="policeName != null and policeName != ''">police_name,</if>
            <if test="policePhone != null">police_phone,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="communityId != null">#{communityId},</if>
            <if test="companyCode != null">#{companyCode},</if>
            <if test="companyName != null">#{companyName},</if>
            <if test="type != null">#{type},</if>
            <if test="phone != null">#{phone},</if>
            <if test="email != null">#{email},</if>
            <if test="address != null">#{address},</if>
            <if test="registrationTime != null">#{registrationTime},</if>
            <if test="tradeCode != null">#{tradeCode},</if>
            <if test="organizationCode != null">#{organizationCode},</if>
            <if test="creditCode != null">#{creditCode},</if>
            <if test="headMaster != null">#{headMaster},</if>
            <if test="contactPhone != null">#{contactPhone},</if>
            <if test="identityCode != null">#{identityCode},</if>
            <if test="identityType != null">#{identityType},</if>
            <if test="point != null">#{point},</if>
            <if test="police != null">#{police},</if>
            <if test="policeName != null and policeName != ''">#{policeName},</if>
            <if test="policePhone != null">#{policePhone},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateCompany" parameterType="Company">
        update sq_company
        <trim prefix="SET" suffixOverrides=",">
            <if test="communityId != null">community_id = #{communityId},</if>
            <if test="companyCode != null">company_code = #{companyCode},</if>
            <if test="companyName != null">company_name = #{companyName},</if>
            <if test="type != null">type = #{type},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="email != null">email = #{email},</if>
            <if test="address != null">address = #{address},</if>
            <if test="registrationTime != null">registration_time = #{registrationTime},</if>
            <if test="tradeCode != null">trade_code = #{tradeCode},</if>
            <if test="organizationCode != null">organization_code = #{organizationCode},</if>
            <if test="creditCode != null">credit_code = #{creditCode},</if>
            <if test="headMaster != null">head_master = #{headMaster},</if>
            <if test="contactPhone != null">contact_phone = #{contactPhone},</if>
            <if test="identityCode != null">identity_code = #{identityCode},</if>
            <if test="identityType != null">identity_type = #{identityType},</if>
            <if test="point != null">point = #{point},</if>
            <if test="police != null">police = #{police},</if>
            <if test="policeName != null and policeName != ''">police_name = #{policeName},</if>
            <if test="policePhone != null">police_phone = #{policePhone},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCompanyById" parameterType="Long">
        delete from sq_company where id = #{id}
    </delete>

    <delete id="deleteCompanyByIds" parameterType="String">
        delete from sq_company where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>