<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jingyu.equipment.mapper.PoliceEquipmentMapper">
    
    <resultMap type="PoliceEquipment" id="PoliceEquipmentResult">
        <result property="id"    column="id"    />
        <result property="equipmentNumber"    column="equipment_number"    />
        <result property="equipmentType"    column="equipment_type"    />
        <result property="equipmentDescription"    column="equipment_description"    />
        <result property="deptId"    column="dept_id"    />
        <result property="deptName"    column="dept_name"    />
        <result property="procurementTime"    column="procurement_time"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="deleteTime"    column="delete_time"    />
        <result property="operateTime"    column="operate_time"    />
        <result property="operateName"    column="operate_name"    />
        <result property="operateType"    column="operate_type"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectPoliceEquipmentVo">
        select p.id, p.equipment_number, p.equipment_type, p.equipment_description, p.procurement_time, p.create_time, p.update_time, p.delete_time, p.dept_id,
          p.operate_time, p.operate_name, p.operate_type, p.remark, sys_dept.dept_name
        from police_equipment p
        inner join sys_dept on p.dept_id = sys_dept.dept_id
    </sql>

    <select id="selectPoliceEquipmentList" parameterType="PoliceEquipment" resultMap="PoliceEquipmentResult">
        <include refid="selectPoliceEquipmentVo"/>
        <where>
            AND operate_type != 2
            <if test="equipmentNumber != null  and equipmentNumber != ''"> and instr(equipment_number,#{equipmentNumber})</if>
            <if test="equipmentType != null "> and equipment_type = #{equipmentType}</if>
            <if test="equipmentDescription != null  and equipmentDescription != ''"> and instr(equipment_description,#{equipmentDescription})</if>
            <if test="deptId != null "> and instr(dept_id,#{deptId})</if>
            <if test="procurementTime != null "> and procurement_time = #{procurementTime}</if>
            <if test="deleteTime != null "> and delete_time = #{deleteTime}</if>
            <if test="operateTime != null "> and operate_time = #{operateTime}</if>
            <if test="operateName != null  and operateName != ''"> and instr(operate_name,#{operateName})</if>
            <if test="operateType != null "> and operate_type = #{operateType}</if>
        </where>
        ORDER BY create_time DESC
    </select>
    
    <select id="selectPoliceEquipmentById" parameterType="Long" resultMap="PoliceEquipmentResult">
        <include refid="selectPoliceEquipmentVo"/>
        where id = #{id}
    </select>

    <select id="getPoliceEquipmentByEquipmentNumber" parameterType="String" resultMap="PoliceEquipmentResult">
        <include refid="selectPoliceEquipmentVo"/>
        where equipment_number = #{equipmentNumber}
    </select>
        
    <insert id="insertPoliceEquipment" parameterType="PoliceEquipment">
        insert into police_equipment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="equipmentNumber != null and equipmentNumber != ''">equipment_number,</if>
            <if test="equipmentType != null">equipment_type,</if>
            <if test="equipmentDescription != null">equipment_description,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="procurementTime != null">procurement_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="deleteTime != null">delete_time,</if>
            <if test="operateName != null and operateName != ''">operate_name,</if>
            <if test="remark != null">remark,</if>
            create_time,
            operate_time,
            operate_type
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="equipmentNumber != null and equipmentNumber != ''">#{equipmentNumber},</if>
            <if test="equipmentType != null">#{equipmentType},</if>
            <if test="equipmentDescription != null">#{equipmentDescription},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="procurementTime != null">#{procurementTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="deleteTime != null">#{deleteTime},</if>
            <if test="operateName != null and operateName != ''">#{operateName},</if>
            <if test="remark != null">#{remark},</if>
            NOW(),
            NOW(),
            0
         </trim>
    </insert>

    <update id="updatePoliceEquipment" parameterType="PoliceEquipment">
        update police_equipment
        <trim prefix="SET" suffixOverrides=",">
            <if test="equipmentNumber != null and equipmentNumber != ''">equipment_number = #{equipmentNumber},</if>
            <if test="equipmentType != null">equipment_type = #{equipmentType},</if>
            <if test="equipmentDescription != null">equipment_description = #{equipmentDescription},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="procurementTime != null">procurement_time = #{procurementTime},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="deleteTime != null">delete_time = #{deleteTime},</if>
            <if test="operateName != null and operateName != ''">operate_name = #{operateName},</if>
            <if test="remark != null">remark = #{remark},</if>
            operate_time = NOW(),
            update_time = NOW(),
            operate_type = 1
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePoliceEquipmentById" parameterType="Long">
        update police_equipment set operate_type = 2, delete_time = NOW(), operate_time = NOW() where id = #{id}
    </delete>

    <delete id="deletePoliceEquipmentByIds" parameterType="String">
        update police_equipment set operate_type = 2, delete_time = NOW(), operate_time = NOW() where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>