<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jingyu.contradiction.mapper.ContradictionTanglesMapper">
    
    <resultMap type="ContradictionTangles" id="ContradictionTanglesResult">
        <result property="id"    column="id"    />
        <result property="deptId"    column="dept_id"    />
        <result property="caseCode"    column="case_code"    />
        <result property="title"    column="title"    />
        <result property="disputeType"    column="dispute_type"    />
        <result property="disputeLevel"    column="dispute_level"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="place"    column="place"    />
        <result property="longitude"    column="longitude"    />
        <result property="latitude"    column="latitude"    />
        <result property="alarmMode"    column="alarm_mode"    />
        <result property="partakeNum"    column="partake_num"    />
        <result property="mediationProgress"    column="mediation_progress"    />
        <result property="isMediateSuccessful"    column="is_mediate_successful"    />
        <result property="mediateResultDescription"    column="mediate_result_description"    />
        <result property="policeNum"    column="police_num"    />
        <result property="isTransfer"    column="is_transfer"    />
        <result property="transferPoliceNum"    column="transfer_police_num"    />
        <result property="transferTime"    column="transfer_time"    />
        <result property="sourcePlatform"    column="source_platform"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="operateType"    column="operate_type"    />
        <result property="operateName"    column="operate_name"    />
        <result property="operateTime"    column="operate_time"    />
        <result property="remark"    column="remark"    />
        <result property="fileId"    column="file_id"    />
    </resultMap>

    <sql id="selectContradictionTanglesVo">
        select id, case_code, title, dispute_type, dispute_level, start_time, end_time, place, longitude, latitude, alarm_mode, partake_num,
          mediation_progress, is_mediate_successful, mediate_result_description, police_num, is_transfer, transfer_police_num, transfer_time,
          source_platform, create_time, update_time, operate_type, operate_name, operate_time, remark, dept_id, file_id
        from c_contradiction_tangles
    </sql>

    <select id="selectContradictionTanglesList" parameterType="ContradictionTangles" resultMap="ContradictionTanglesResult">
        <include refid="selectContradictionTanglesVo"/>
        <where>
            <if test="deptId != null "> and instr(dept_id,#{deptId})</if>
            <if test="caseCode != null  and caseCode != ''"> and instr(case_code, #{caseCode})</if>
            <if test="title != null  and title != ''"> and instr(title, #{title})</if>
            <if test="disputeType != null  and disputeType != ''"> and dispute_type = #{disputeType}</if>
            <if test="disputeLevel != null  and disputeLevel != ''"> and dispute_level = #{disputeLevel}</if>
            <if test="alarmMode != null  and alarmMode != ''"> and alarm_mode = #{alarmMode}</if>
            <if test="mediationProgress != null  and mediationProgress != ''"> and mediation_progress = #{mediationProgress}</if>
            <if test="isMediateSuccessful != null  and isMediateSuccessful != ''"> and is_mediate_successful = #{isMediateSuccessful}</if>
        </where>
        ORDER BY operate_time DESC
    </select>
    
    <select id="selectContradictionTanglesById" parameterType="Long" resultMap="ContradictionTanglesResult">
        <include refid="selectContradictionTanglesVo"/>
        where id = #{id}
    </select>

    <select id="getContradictionByCaseCode" parameterType="String" resultMap="ContradictionTanglesResult">
        <include refid="selectContradictionTanglesVo"/>
        where case_code = #{caseCode}
    </select>
        
    <insert id="insertContradictionTangles" parameterType="ContradictionTangles">
        insert into c_contradiction_tangles
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="caseCode != null">case_code,</if>
            <if test="title != null">title,</if>
            <if test="disputeType != null">dispute_type,</if>
            <if test="disputeLevel != null">dispute_level,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="place != null">place,</if>
            <if test="longitude != null">longitude,</if>
            <if test="latitude != null">latitude,</if>
            <if test="alarmMode != null">alarm_mode,</if>
            <if test="partakeNum != null">partake_num,</if>
            <if test="mediationProgress != null">mediation_progress,</if>
            <if test="isMediateSuccessful != null">is_mediate_successful,</if>
            <if test="mediateResultDescription != null">mediate_result_description,</if>
            <if test="policeNum != null">police_num,</if>
            <if test="isTransfer != null">is_transfer,</if>
            <if test="transferPoliceNum != null">transfer_police_num,</if>
            <if test="transferTime != null">transfer_time,</if>
            <if test="sourcePlatform != null">source_platform,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="operateName != null">operate_name,</if>
            <if test="remark != null">remark,</if>
            <if test="deptId != null">dept_id,</if>
            create_time,
            operate_time,
            operate_type
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="caseCode != null">#{caseCode},</if>
            <if test="title != null">#{title},</if>
            <if test="disputeType != null">#{disputeType},</if>
            <if test="disputeLevel != null">#{disputeLevel},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="place != null">#{place},</if>
            <if test="longitude != null">#{longitude},</if>
            <if test="latitude != null">#{latitude},</if>
            <if test="alarmMode != null">#{alarmMode},</if>
            <if test="partakeNum != null">#{partakeNum},</if>
            <if test="mediationProgress != null">#{mediationProgress},</if>
            <if test="isMediateSuccessful != null">#{isMediateSuccessful},</if>
            <if test="mediateResultDescription != null">#{mediateResultDescription},</if>
            <if test="policeNum != null">#{policeNum},</if>
            <if test="isTransfer != null">#{isTransfer},</if>
            <if test="transferPoliceNum != null">#{transferPoliceNum},</if>
            <if test="transferTime != null">#{transferTime},</if>
            <if test="sourcePlatform != null">#{sourcePlatform},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="operateName != null">#{operateName},</if>
            <if test="remark != null">#{remark},</if>
            <if test="deptId != null">#{deptId},</if>
            NOW(),
            NOW(),
            0
         </trim>
    </insert>

    <update id="updateContradictionTangles" parameterType="ContradictionTangles">
        update c_contradiction_tangles
        <trim prefix="SET" suffixOverrides=",">
            <if test="caseCode != null">case_code = #{caseCode},</if>
            <if test="title != null">title = #{title},</if>
            <if test="disputeType != null">dispute_type = #{disputeType},</if>
            <if test="disputeLevel != null">dispute_level = #{disputeLevel},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="place != null">place = #{place},</if>
            <if test="longitude != null">longitude = #{longitude},</if>
            <if test="latitude != null">latitude = #{latitude},</if>
            <if test="alarmMode != null">alarm_mode = #{alarmMode},</if>
            <if test="partakeNum != null">partake_num = #{partakeNum},</if>
            <if test="mediationProgress != null">mediation_progress = #{mediationProgress},</if>
            <if test="isMediateSuccessful != null">is_mediate_successful = #{isMediateSuccessful},</if>
            <if test="mediateResultDescription != null">mediate_result_description = #{mediateResultDescription},</if>
            <if test="policeNum != null">police_num = #{policeNum},</if>
            <if test="isTransfer != null">is_transfer = #{isTransfer},</if>
            <if test="transferPoliceNum != null">transfer_police_num = #{transferPoliceNum},</if>
            <if test="transferTime != null">transfer_time = #{transferTime},</if>
            <if test="sourcePlatform != null">source_platform = #{sourcePlatform},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="operateName != null">operate_name = #{operateName},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="fileId != null">file_id = #{fileId},</if>
            update_time = NOW(),
            operate_time = NOW(),
            operate_type = 1
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteContradictionTanglesById" parameterType="Long">
        delete from c_contradiction_tangles where id = #{id}
    </delete>

    <delete id="deleteContradictionTanglesByIds" parameterType="String">
        delete from c_contradiction_tangles where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>