<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jingyu.contradiction.mapper.DisputingPersonnelMapper">
    
    <resultMap type="DisputingPersonnel" id="DisputingPersonnelResult">
        <result property="id"    column="id"    />
        <result property="disputeId"    column="dispute_id"    />
        <result property="caseCode"    column="case_code"    />
        <result property="peopleName"    column="people_name"    />
        <result property="phone"    column="phone"    />
        <result property="cerNo"    column="cer_no"    />
        <result property="residentialAddress"    column="residential_address"    />
        <result property="workUnit"    column="work_unit"    />
        <result property="workAddress"    column="work_address"    />
        <result property="partakePerson"    column="partake_person"    />
        <result property="partakeRole"    column="partake_role"    />
        <result property="imageUrl"    column="image_url"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="operateType"    column="operate_type"    />
        <result property="operateTime"    column="operate_time"    />
        <result property="operateName"    column="operate_name"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectDisputingPersonnelVo">
        select id, dispute_id, case_code, people_name, phone, cer_no, residential_address, work_unit, work_address, partake_person,
          partake_role, image_url, create_time, update_time, operate_type, operate_time, operate_name, remark
        from c_disputing_personnel
    </sql>

    <select id="selectDisputingPersonnelList" parameterType="DisputingPersonnel" resultMap="DisputingPersonnelResult">
        <include refid="selectDisputingPersonnelVo"/>
        <where>
            <if test="caseCode != null  and caseCode != ''"> and case_code = #{caseCode}</if>
            <if test="peopleName != null  and peopleName != ''"> and people_name like concat('%', #{peopleName}, '%')</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="cerNo != null  and cerNo != ''"> and cer_no = #{cerNo}</if>
            <if test="residentialAddress != null  and residentialAddress != ''"> and residential_address = #{residentialAddress}</if>
            <if test="workUnit != null  and workUnit != ''"> and work_unit = #{workUnit}</if>
            <if test="workAddress != null  and workAddress != ''"> and work_address = #{workAddress}</if>
        </where>
        ORDER BY operate_time DESC
    </select>
    
    <select id="selectDisputingPersonnelById" parameterType="Long" resultMap="DisputingPersonnelResult">
        <include refid="selectDisputingPersonnelVo"/>
        where id = #{id}
    </select>

    <select id="getContradictionPersonByCaseCode" parameterType="String" resultMap="DisputingPersonnelResult">
        <include refid="selectDisputingPersonnelVo"/>
        where case_code = #{caseCode}
    </select>
        
    <insert id="insertDisputingPersonnel" parameterType="DisputingPersonnel">
        insert into c_disputing_personnel
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="caseCode != null">case_code,</if>
            <if test="disputeId != null">dispute_id,</if>
            <if test="peopleName != null">people_name,</if>
            <if test="phone != null">phone,</if>
            <if test="cerNo != null">cer_no,</if>
            <if test="residentialAddress != null">residential_address,</if>
            <if test="workUnit != null">work_unit,</if>
            <if test="workAddress != null">work_address,</if>
            <if test="partakePerson != null">partake_person,</if>
            <if test="partakeRole != null">partake_role,</if>
            <if test="imageUrl != null">image_url,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="operateName != null">operate_name,</if>
            <if test="remark != null">remark,</if>
            create_time,
            operate_time,
            operate_type
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="caseCode != null">#{caseCode},</if>
            <if test="disputeId != null">#{disputeId},</if>
            <if test="peopleName != null">#{peopleName},</if>
            <if test="phone != null">#{phone},</if>
            <if test="cerNo != null">#{cerNo},</if>
            <if test="residentialAddress != null">#{residentialAddress},</if>
            <if test="workUnit != null">#{workUnit},</if>
            <if test="workAddress != null">#{workAddress},</if>
            <if test="partakePerson != null">#{partakePerson},</if>
            <if test="partakeRole != null">#{partakeRole},</if>
            <if test="imageUrl != null">#{imageUrl},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="operateTime != null">#{operateTime},</if>
            <if test="operateName != null">#{operateName},</if>
            <if test="remark != null">#{remark},</if>
            NOW(),
            NOW(),
            0
         </trim>
    </insert>

    <update id="updateDisputingPersonnel" parameterType="DisputingPersonnel">
        update c_disputing_personnel
        <trim prefix="SET" suffixOverrides=",">
            <if test="caseCode != null">case_code = #{caseCode},</if>
            <if test="disputeId != null">dispute_id = #{disputeId},</if>
            <if test="peopleName != null">people_name = #{peopleName},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="cerNo != null">cer_no = #{cerNo},</if>
            <if test="residentialAddress != null">residential_address = #{residentialAddress},</if>
            <if test="workUnit != null">work_unit = #{workUnit},</if>
            <if test="workAddress != null">work_address = #{workAddress},</if>
            <if test="partakePerson != null">partake_person = #{partakePerson},</if>
            <if test="partakeRole != null">partake_role = #{partakeRole},</if>
            <if test="imageUrl != null">image_url = #{imageUrl},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="operateName != null">operate_name = #{operateName},</if>
            <if test="remark != null">remark = #{remark},</if>
            update_time = NOW(),
            operate_time = NOW(),
            operate_type = 1
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDisputingPersonnelById" parameterType="Long">
        delete from c_disputing_personnel where id = #{id}
    </delete>

    <delete id="deleteDisputingPersonnelByIds" parameterType="String">
        delete from c_disputing_personnel where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>