<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jingyu.qunfangqunzhi.mapper.AllocateRectifyContentMapper">

    <resultMap type="AllocateRectifyContent" id="AllocateRectifyContentResult">
        <result property="id"    column="id"    />
        <result property="allocateId"    column="allocate_id"    />
        <result property="sendTime"    column="send_time"    />
        <result property="rectifyOpinion"    column="rectify_opinion"    />
        <result property="confirmed"    column="confirmed"    />
        <result property="sendUserId"    column="send_user_id"    />
    </resultMap>

    <sql id="selectAllocateRectifyContentVo">
        select id, allocate_id, send_time, rectify_opinion, confirmed, send_user_id from allocate_rectify_content
    </sql>

    <select id="selectAllocateRectifyContentList" parameterType="AllocateRectifyContent" resultMap="AllocateRectifyContentResult">
        <include refid="selectAllocateRectifyContentVo"/>
        <where>
            <if test="allocateId != null "> and allocate_id = #{allocateId}</if>
            <if test="sendTime != null "> and send_time = #{sendTime}</if>
            <if test="rectifyOpinion != null  and rectifyOpinion != ''"> and rectify_opinion = #{rectifyOpinion}</if>
            <if test="confirmed != null  and confirmed != ''"> and confirmed = #{confirmed}</if>
            <if test="sendUserId != null "> and send_user_id = #{sendUserId}</if>
        </where>
    </select>

    <select id="selectAllocateRectifyContentByAllocateId" parameterType="Long" resultMap="AllocateRectifyContentResult">
        <include refid="selectAllocateRectifyContentVo"/>
        where allocate_id = #{allocateId}
    </select>

    <select id="selectAllocateRectifyContentById" parameterType="Long" resultMap="AllocateRectifyContentResult">
        <include refid="selectAllocateRectifyContentVo"/>
        where id = #{id}
    </select>

    <insert id="insertAllocateRectifyContent" parameterType="AllocateRectifyContent" useGeneratedKeys="true" keyProperty="id">
        insert into allocate_rectify_content
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="allocateId != null">allocate_id,</if>
            <if test="sendTime != null">send_time,</if>
            <if test="rectifyOpinion != null">rectify_opinion,</if>
            <if test="confirmed != null">confirmed,</if>
            <if test="sendUserId != null">send_user_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="allocateId != null">#{allocateId},</if>
            <if test="sendTime != null">#{sendTime},</if>
            <if test="rectifyOpinion != null">#{rectifyOpinion},</if>
            <if test="confirmed != null">#{confirmed},</if>
            <if test="sendUserId != null">#{sendUserId},</if>
         </trim>
    </insert>

    <update id="updateAllocateRectifyContent" parameterType="AllocateRectifyContent">
        update allocate_rectify_content
        <trim prefix="SET" suffixOverrides=",">
            <if test="allocateId != null">allocate_id = #{allocateId},</if>
            <if test="sendTime != null">send_time = #{sendTime},</if>
            <if test="rectifyOpinion != null">rectify_opinion = #{rectifyOpinion},</if>
            <if test="confirmed != null">confirmed = #{confirmed},</if>
            <if test="sendUserId != null">send_user_id = #{sendUserId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAllocateRectifyContentById" parameterType="Long">
        delete from allocate_rectify_content where id = #{id}
    </delete>

    <delete id="deleteAllocateRectifyContentByIds" parameterType="String">
        delete from allocate_rectify_content where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


</mapper>
