<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jingyu.qunfangqunzhi.mapper.EventInfoMapper">

    <resultMap type="EventInfo" id="EventInfoResult">
        <result property="id"    column="id"    />
        <result property="uploadUserId"    column="upload_user_id"    />
        <result property="eventType"    column="event_type"    />
        <result property="contactPersonName"    column="contact_person_name"    />
        <result property="contactPhone"    column="contact_phone"    />
        <result property="address"    column="address"    />
        <result property="addressData"    column="address_data"    />
        <result property="eventDescription"    column="event_description"    />
        <result property="occurTime"    column="occur_time"    />
        <result property="photoUrl"    column="photo_url"    />
        <result property="videoUrl"    column="video_url"    />
        <result property="status"    column="status"    />
        <result property="reply"    column="reply"    />
        <result property="uploadTime"    column="upload_time"    />
        <result property="remark"    column="remark"    />
        <result property="eventSummarize"    column="event_summarize"    />
        <result property="finishUserId"    column="finish_user_id"    />
        <result property="finishTime"  column="finish_time" />
        <result property="finishUserName"  column="finish_user_name" />
        <result property="deptId"  column="dept_id" />
        <result property="uploadUserType"  column="upload_user_type" />
        <association property="dept" javaType="sysDept" column="dept_id" select="com.jingyu.qunfangqunzhi.mapper.CommonUsersMapper.selectDeptById"/>
        <association property="userName"  column="upload_user_id" select="com.jingyu.qunfangqunzhi.mapper.CommonUsersMapper.selectCommonUsersUserNameByUserId"/>
    </resultMap>

    <resultMap id="EventInfoEventUserAllocatedResult" type="EventInfo" extends="EventInfoResult">
        <collection property="eventUserAllocatedList" notNullColumn="sub_id" javaType="java.util.List" resultMap="EventUserAllocatedResult" />
    </resultMap>

    <resultMap type="EventUserAllocated" id="EventUserAllocatedResult">
        <result property="id"    column="sub_id"    />
        <result property="userId"    column="sub_user_id"    />
        <result property="userType"    column="user_type"    />
        <result property="eventId"    column="sub_event_id"    />
        <result property="inspectDetail"    column="sub_inspect_detail"    />
        <result property="rectifyOpinion"    column="sub_rectify_opinion"    />
        <result property="rectifyResult"    column="sub_rectify_result"    />
        <result property="inspectLocation"    column="sub_inspect_location"    />
        <result property="inspectDatetime"    column="sub_inspect_datetime"    />
        <result property="existProblem"    column="sub_exist_problem"    />
        <result property="photoUrl"    column="sub_photo_url"    />
        <result property="videoUrl"    column="sub_video_url"    />
        <result property="status"    column="sub_status"    />
        <result property="allocatedUserType"    column="sub_allocated_user_type"    />
        <result property="allocateUserId"    column="sub_allocate_user_id"    />
        <result property="dealFlag"    column="deal_flag"    />
        <result property="allocateTime"    column="allocate_time"    />
    </resultMap>

    <sql id="selectEventInfoVo">
        select id, upload_user_id, event_type, contact_person_name, contact_phone, address, address_data, event_description, occur_time, photo_url, video_url, status, reply, upload_time,remark,event_summarize ,finish_time,finish_user_id,finish_user_name,dept_id from event_info c
    </sql>

    <select id="selectEventInfoList" parameterType="EventInfo" resultMap="EventInfoResult">
        <include refid="selectEventInfoVo"/>
        <where>
            <if test="uploadUserId != null "> and upload_user_id = #{uploadUserId}</if>
            <if test="eventType != null  and eventType != ''"> and event_type = #{eventType}</if>
            <if test="contactPersonName != null  and contactPersonName != ''"> and contact_person_name like concat('%', #{contactPersonName}, '%')</if>
            <if test="contactPhone != null  and contactPhone != ''"> and contact_phone = #{contactPhone}</if>
            <if test="address != null  and address != ''"> and address = #{address}</if>
            <if test="addressData != null  and addressData != ''"> and address_data = #{addressData}</if>
            <if test="eventDescription != null  and eventDescription != ''"> and event_description = #{eventDescription}</if>
            <if test="params.beginOccurTime != null and params.beginOccurTime != ''"><!-- 开始时间检索 -->
                AND date_format(occur_time,'%y%m%d') &gt;= date_format(#{params.beginOccurTime},'%y%m%d')
            </if>
            <if test="params.endOccurTime != null and params.endOccurTime != ''"><!-- 结束时间检索 -->
                AND date_format(occur_time,'%y%m%d') &lt;=  date_format(#{params.endOccurTime},'%y%m%d')
            </if>
            <if test="photoUrl != null  and photoUrl != ''"> and photo_url = #{photoUrl}</if>
            <if test="videoUrl != null  and videoUrl != ''"> and video_url = #{videoUrl}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="reply != null  and reply != ''"> and reply = #{reply}</if>
            <if test="deptId != null  and deptId != ''"> and dept_id = #{deptId}</if>
            <if test="id != null  and id != ''"> and id = #{id}</if>
            <if test="params.beginUploadTime != null and params.beginUploadTime != ''"><!-- 开始时间检索 -->
                AND upload_time &gt;= #{params.beginUploadTime}
            </if>
            <if test="params.endUploadTime != null and params.endUploadTime != ''"><!-- 结束时间检索 -->
                AND upload_time &lt;= #{params.endUploadTime}
            </if>
            ${params.dataScope}

        </where>
        order by status,event_type,upload_time
    </select>

    <select id="selectEventInfoById" parameterType="Long" resultMap="EventInfoEventUserAllocatedResult">
        select a.id, a.dept_id,a.upload_user_id, a.event_type, a.contact_person_name, a.contact_phone, a.address, a.address_data, a.event_description, a.occur_time, a.photo_url, a.video_url, a.status, a.reply, a.upload_time,a.event_summarize, a.remark,a.upload_user_type,
        b.id as sub_id, b.user_id as sub_user_id, b.event_id as sub_event_id, b.inspect_detail as sub_inspect_detail, b.rectify_opinion as sub_rectify_opinion, b.rectify_result as sub_rectify_result, b.inspect_location as sub_inspect_location, b.inspect_datetime as sub_inspect_datetime, b.exist_problem as sub_exist_problem, b.photo_url as sub_photo_url, b.video_url as sub_video_url, b.status as sub_status, b.allocated_user_type as sub_allocated_user_type, b.allocate_user_id as sub_allocate_user_id,b.user_type,b.deal_flag, b.allocate_time
        from event_info a
        left join event_user_allocated b on b.event_id = a.id and b.status != "2"
        where a.id = #{id}
    </select>

    <insert id="insertEventInfo" parameterType="EventInfo" useGeneratedKeys="true" keyProperty="id">
        insert into event_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="uploadUserId != null">upload_user_id,</if>
            <if test="eventType != null">event_type,</if>
            <if test="contactPersonName != null">contact_person_name,</if>
            <if test="contactPhone != null">contact_phone,</if>
            <if test="address != null">address,</if>
            <if test="addressData != null">address_data,</if>
            <if test="eventDescription != null">event_description,</if>
            <if test="occurTime != null">occur_time,</if>
            <if test="photoUrl != null">photo_url,</if>
            <if test="videoUrl != null">video_url,</if>
            <if test="status != null">status,</if>
            <if test="reply != null">reply,</if>
            <if test="uploadTime != null">upload_time,</if>
            <if test="eventSummarize != null">event_summarize,</if>
            <if test="uploadUserType != null">upload_user_type,</if>
            <if test="deptId != null">dept_id</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="uploadUserId != null">#{uploadUserId},</if>
            <if test="eventType != null">#{eventType},</if>
            <if test="contactPersonName != null">#{contactPersonName},</if>
            <if test="contactPhone != null">#{contactPhone},</if>
            <if test="address != null">#{address},</if>
            <if test="addressData != null">#{addressData},</if>
            <if test="eventDescription != null">#{eventDescription},</if>
            <if test="occurTime != null">#{occurTime},</if>
            <if test="photoUrl != null">#{photoUrl},</if>
            <if test="videoUrl != null">#{videoUrl},</if>
            <if test="status != null">#{status},</if>
            <if test="reply != null">#{reply},</if>
            <if test="uploadTime != null">#{uploadTime},</if>
            <if test="eventSummarize != null">#{eventSummarize},</if>
            <if test="uploadUserType != null">#{uploadUserType},</if>
            <if test="deptId != null">#{deptId}</if>
        </trim>
    </insert>

    <update id="updateEventInfo" parameterType="EventInfo">
        update event_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="uploadUserId != null">upload_user_id = #{uploadUserId},</if>
            <if test="eventType != null">event_type = #{eventType},</if>
            <if test="contactPersonName != null">contact_person_name = #{contactPersonName},</if>
            <if test="contactPhone != null">contact_phone = #{contactPhone},</if>
            <if test="address != null">address = #{address},</if>
            <if test="addressData != null">address_data = #{addressData},</if>
            <if test="eventDescription != null">event_description = #{eventDescription},</if>
            <if test="occurTime != null">occur_time = #{occurTime},</if>
            <if test="photoUrl != null">photo_url = #{photoUrl},</if>
            <if test="videoUrl != null">video_url = #{videoUrl},</if>
            <if test="status != null">status = #{status},</if>
            <if test="reply != null">reply = #{reply},</if>
            <if test="uploadTime != null">upload_time = #{uploadTime},</if>
            <if test="eventSummarize != null">event_summarize = #{eventSummarize},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="deptId != null">dept_id = #{deptId}</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteEventInfoById" parameterType="Long">
        delete from event_info where id = #{id}
    </delete>

    <delete id="deleteEventInfoByIds" parameterType="String">
        delete from event_info where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteEventUserAllocatedByUserIds" parameterType="String">
        delete from event_user_allocated where user_id in
        <foreach item="userId" collection="array" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>

    <delete id="deleteEventUserAllocatedByUserId" parameterType="Long">
        delete from event_user_allocated where user_id = #{userId}
    </delete>

    <insert id="batchEventUserAllocated">
        insert into event_user_allocated( id, user_id, event_id, inspect_detail, rectify_opinion, rectify_result, inspect_location, inspect_datetime, exist_problem, photo_url, video_url, status, allocated_user_type, allocate_user_id,allocate_time) values
        <foreach item="item" index="index" collection="list" separator=",">
            ( #{item.id}, #{item.userId}, #{item.eventId}, #{item.inspectDetail}, #{item.rectifyOpinion}, #{item.rectifyResult}, #{item.inspectLocation}, #{item.inspectDatetime}, #{item.existProblem}, #{item.photoUrl}, #{item.videoUrl}, #{item.status}, #{item.allocatedUserType}, #{item.allocateUserId},#{item.allocateTime})
        </foreach>
    </insert>

    <select id="selectSuperiorDeptIdById" parameterType="Long" resultType="Long">
        select b.parent_id
        from
        sys_user a left join
        sys_dept b
        on a.dept_id = b.dept_id
        where a.user_id = #{userId}
    </select>
</mapper>