<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jingyu.polices.mapper.PoliceInformationMapper">
    
    <resultMap type="PoliceInformation" id="PoliceInformationResult">
        <result property="id"    column="id"    />
        <result property="policeNumber"    column="police_number"    />
        <result property="policeName"    column="police_name"    />
        <result property="gender"    column="gender"    />
        <result property="policeAge"    column="police_age"    />
        <result property="nation"    column="nation"    />
        <result property="birthday"    column="birthday"    />
        <result property="idCard"    column="id_card"    />
        <result property="phoneNumber"    column="phone_number"    />
        <result property="email"    column="email"    />
        <result property="identityType"    column="identity_type"    />
        <result property="education"    column="education"    />
        <result property="graduationSchool"    column="graduation_school"    />
        <result property="policePost"    column="police_post"    />
        <result property="policeType"    column="police_type"    />
        <result property="speciality"    column="speciality"    />
        <result property="deptId"    column="dept_id"    />
        <result property="policePhoto"    column="police_photo"    />
        <result property="communityCode"    column="community_code"    />
        <result property="addressCode"    column="address_code"    />
        <result property="entryTime"    column="entry_time"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="deleteTime"    column="delete_time"    />
        <result property="operateTime"    column="operate_time"    />
        <result property="operateType"    column="operate_type"    />
        <result property="operateName"    column="operate_name"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectPoliceInformationVo">
        select id, police_number, police_name, gender, police_age, nation, birthday, id_card, phone_number, email, identity_type,
            education, graduation_school, police_post, police_type, speciality, dept_id, police_photo, community_code,
            address_code, entry_time, create_time, update_time, delete_time, operate_time, operate_type, operate_name, remark
        from police_information
    </sql>

    <select id="selectPoliceInformationList" parameterType="PoliceInformation" resultMap="PoliceInformationResult">
        <include refid="selectPoliceInformationVo"/>
        <where>
            AND operate_type != 2
            <if test="policeNumber != null  and policeNumber != ''"> and instr(police_number,#{policeNumber})</if>
            <if test="policeName != null  and policeName != ''"> and instr(police_name,#{policeName})</if>
            <if test="gender != null "> and gender = #{gender}</if>
            <if test="policeAge != null "> and police_age = #{policeAge}</if>
            <if test="nation != null and nation != ''"> and nation = #{nation}</if>
            <if test="birthday != null and birthday != ''"> and birthday = #{birthday}</if>
            <if test="idCard != null  and idCard != ''"> and  instr(my_aes_decrypt(id_card),#{idCard})</if>
            <if test="phoneNumber != null  and phoneNumber != ''"> and instr(my_aes_decrypt(phone_number),#{phoneNumber})</if>
            <if test="email != null  and email != ''"> and instr(email,#{email})</if>
            <if test="identityType != null "> and identity_type = #{identityType}</if>
            <if test="education != null "> and education = #{education}</if>
            <if test="graduationSchool != null  and graduationSchool != ''"> and instr(graduation_school,#{graduationSchool})</if>
            <if test="policePost != null "> and police_post = #{policePost}</if>
            <if test="policeType != null "> and police_type = #{policeType}</if>
            <if test="speciality != null  and speciality != ''"> and speciality = #{speciality}</if>
            <if test="deptId != null  and deptId != ''"> and dept_id = #{deptId}</if>
            <if test="policePhoto != null  and policePhoto != ''"> and police_photo = #{policePhoto}</if>
            <if test="communityCode != null  and communityCode != ''"> and instr(community_code,#{communityCode})</if>
            <if test="addressCode != null  and addressCode != ''"> and instr(address_code,#{addressCode})</if>
            <if test="entryTime != null "> and entry_time = #{entryTime}</if>
            <if test="deleteTime != null "> and delete_time = #{deleteTime}</if>
            <if test="operateTime != null "> and operate_time = #{operateTime}</if>
            <if test="operateType != null "> and operate_type = #{operateType}</if>
            <if test="operateName != null  and operateName != ''"> and instr(operate_name,#{operateName})</if>
        </where>
        ORDER BY create_time DESC
    </select>
    
    <select id="selectPoliceInformationById" parameterType="Long" resultMap="PoliceInformationResult">
        <include refid="selectPoliceInformationVo"/>
        where id = #{id}
    </select>

    <select id="selectPoliceInformationByPoliceNumber" parameterType="String" resultMap="PoliceInformationResult">
        <include refid="selectPoliceInformationVo"/>
        where police_number = #{policeNumber}
    </select>
        
    <insert id="insertPoliceInformation" parameterType="PoliceInformation" useGeneratedKeys="true" keyProperty="id">
        insert into police_information
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="policeNumber != null and policeNumber != ''">police_number,</if>
            <if test="policeName != null and policeName != ''">police_name,</if>
            <if test="gender != null">gender,</if>
            <if test="policeAge != null">police_age,</if>
            <if test="nation != null and nation != ''">nation,</if>
            <if test="birthday != null and birthday != ''">birthday,</if>
            <if test="idCard != null and idCard != ''">id_card,</if>
            <if test="phoneNumber != null and phoneNumber != ''">phone_number,</if>
            <if test="email != null">email,</if>
            <if test="identityType != null">identity_type,</if>
            <if test="education != null">education,</if>
            <if test="graduationSchool != null">graduation_school,</if>
            <if test="policePost != null">police_post,</if>
            <if test="policeType != null">police_type,</if>
            <if test="speciality != null">speciality,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="policePhoto != null and policePhoto != ''">police_photo,</if>
            <if test="communityCode != null">community_code,</if>
            <if test="addressCode != null and addressCode != ''">address_code,</if>
            <if test="entryTime != null">entry_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="deleteTime != null">delete_time,</if>
            <if test="operateName != null and operateName != ''">operate_name,</if>
            <if test="remark != null">remark,</if>
            create_time,
            operate_time,
            operate_type
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="policeNumber != null and policeNumber != ''">#{policeNumber},</if>
            <if test="policeName != null and policeName != ''">#{policeName},</if>
            <if test="gender != null">#{gender},</if>
            <if test="policeAge != null">#{policeAge},</if>
            <if test="nation != null and nation != ''">#{nation},</if>
            <if test="birthday != null and birthday != ''">#{birthday},</if>
            <if test="idCard != null and idCard != ''">#{idCard},</if>
            <if test="phoneNumber != null and phoneNumber != ''">#{phoneNumber},</if>
            <if test="email != null">#{email},</if>
            <if test="identityType != null">#{identityType},</if>
            <if test="education != null">#{education},</if>
            <if test="graduationSchool != null">#{graduationSchool},</if>
            <if test="policePost != null">#{policePost},</if>
            <if test="policeType != null">#{policeType},</if>
            <if test="speciality != null">#{speciality},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="policePhoto != null and policePhoto != ''">#{policePhoto},</if>
            <if test="communityCode != null">#{communityCode},</if>
            <if test="addressCode != null and addressCode != ''">#{addressCode},</if>
            <if test="entryTime != null">#{entryTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="deleteTime != null">#{deleteTime},</if>
            <if test="operateName != null and operateName != ''">#{operateName},</if>
            <if test="remark != null">#{remark},</if>
            NOW(),
            NOW(),
            0
         </trim>
    </insert>

    <update id="updatePoliceInformation" parameterType="PoliceInformation">
        update police_information
        <trim prefix="SET" suffixOverrides=",">
            <if test="policeNumber != null and policeNumber != ''">police_number = #{policeNumber},</if>
            <if test="policeName != null and policeName != ''">police_name = #{policeName},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="policeAge != null">police_age = #{policeAge},</if>
            <if test="nation != null and nation != ''">nation = #{nation},</if>
            <if test="birthday != null and birthday != ''">birthday = #{birthday},</if>
            <if test="idCard != null and idCard != ''">id_card = #{idCard},</if>
            <if test="phoneNumber != null and phoneNumber != ''">phone_number = #{phoneNumber},</if>
            <if test="email != null">email = #{email},</if>
            <if test="identityType != null">identity_type = #{identityType},</if>
            <if test="education != null">education = #{education},</if>
            <if test="graduationSchool != null">graduation_school = #{graduationSchool},</if>
            <if test="policePost != null">police_post = #{policePost},</if>
            <if test="policeType != null">police_type = #{policeType},</if>
            <if test="speciality != null">speciality = #{speciality},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="policePhoto != null and policePhoto != ''">police_photo = #{policePhoto},</if>
            <if test="communityCode != null">community_code = #{communityCode},</if>
            <if test="addressCode != null and addressCode != ''">address_code = #{addressCode},</if>
            <if test="entryTime != null">entry_time = #{entryTime},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="deleteTime != null">delete_time = #{deleteTime},</if>
            <if test="operateName != null and operateName != ''">operate_name = #{operateName},</if>
            <if test="remark != null">remark = #{remark},</if>
            update_time = NOW(),
            operate_time = NOW(),
            operate_type = 1
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePoliceInformationById" parameterType="Long">
        update police_information set operate_type = 2, delete_time = NOW(), operate_time = NOW() where id = #{id}
    </delete>

    <delete id="deletePoliceInformationByIds" parameterType="String">
        update police_information set operate_type = 2, delete_time = NOW(), operate_time = NOW() where id in
        <foreach item="id" collection="array" open="(" separator=","
                 close=")">
            #{id}
        </foreach>
    </delete>
</mapper>